body {
  background-color: aliceblue;
  font-family: "Courier New", Courier, monospace;
  padding: 50px;
  margin: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1 {
  background-color: black;
  color: white;
  padding: 50px;
  text-align: center;
}

form {
  text-align: center;
  background-color: lightgray;
  border-style: none;
  border: none;
  font-size: 24px;
}
legend {
  display: none;
}
#filters {
  padding: 10px;
}

#filter-label {
  margin-left: 80px;
}
select#js-print-type.print-type {
  list-style: square;
}
li {
  list-style: none;
}
div.search_result {
  text-align: wrap;
  float: right;
}
